---
---

@import "{{ site.theme }}";

body {
    font: 14px/1.25 "Helvetica Neue", Helvetica, Arial, "Noto Sans", sans-serif;
    color:#4b4b4b;
}

header {
    width: 270px;
}

section { 
    width: calc(100% - 270px - 60px);  // header is 270px wide, let margin be 60px
}

h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

p small {
    font-size: 12px;
    margin-top: -0.1em;
    margin-bottom: 0.75em;
    display:block;
}

// p:has(+ ul) {
//     margin-bottom: 0;
// }

p:has(a img) {
    margin-bottom: 0.5em;
}

a:hover, a:focus {
    font-weight: inherit;
    color: rgb(0, 58, 90);
}

ul, ol {
    // margin-block-start: 2em;
    padding-inline-start: 2em;
}

ul ul {
    margin-bottom: 0em;
}

hr {
    background: rgb(95, 95, 95);
}

.weak-hr {
    background:#e5e5e5;
}

.wrapper { 
    width: 90%;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    padding: 0 0.175em 0 0;
}

.project-image, .project-image-large {
    margin: 5px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    width: calc(60% - 10px);    // account for margin
    max-width: 720px;
    min-width: 450px;
}

.project-image-large {
    width: calc(80% - 10px);    // account for margin
}

#social a + a {
    padding-left: 0.5em;
};

#main-title {
    color: black;
};

@media print, screen and (max-width: 960px) {
    header ul {
        position: relative;
        right: 0;
        top: 0;
    }
    section {
        border: 1px solid rgb(95, 95, 95);
        border-width: 1px 0;
        margin: 0;
        width: auto;
    }
    .project-image, .project-image-large {
        width: calc(100% - 10px);   // account for margin
        max-width: 700px;
        min-width: unset;
    }
}