---
---

@import "{{ site.theme }}";

a {
    color:#267CB9;
    text-decoration:none;
    // font-weight: bold;
}

a:hover, a:focus {
    color:#133d5e;
    font-weight: bold;
}

a:hover small {
    color:#777;
    font-weight: normal;
}

p small {
    font-size:11px;
    color:#777;
    margin-top:-0.2em;
    margin-bottom: 0.75em;
    display:block;
}

header {
    position: static;
}