<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="icon" sizes="1020x1020" type="image/png" href="/images/sitelogo_c1.png">
    <link rel="apple-touch-icon" sizes="1020x1020" type="image/png" href="/images/sitelogo_c1.png">
    {% seo %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <!-- Title -->
        <h1><a id="main-title" href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        <!-- Site Contents and Resume -->
        <nav style="padding-left: 0; list-style-type: none; line-height: 1.5em;">
          {% for item in site.data.navigation %}
            <li>
              <a href="{{ item.link }}">{{ item.name }}</a>
            </li>
          {% endfor %}
            <li><a href="{{ site.resume_url }}" target="_blank">Resume</a></li>
        </nav>
        
        <br>
        
        <!-- Social Media Links -->
        <p id="social">
          <a href="{{ site.linkedin_url }}" target="_blank">{% include linkedin_svg.html %}LinkedIn</a>
          <a href="{{ site.github_url }}" target="_blank">{% include github_svg.html %}GitHub</a>
        </p>

        <!-- Profile Photo -->
        <img src="{{site.logo | relative_url}}" alt="Logo" />

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        
        <!-- Education -->
        <p>
            M.S. Computer Science<small>Georgia Institute of Technology - May 2026</small>
            B.S. Chemical Engineering<small>University of California, Los Angeles - Jun 2019</small>
        </p>
        
      </header>
      <section>
        
        {{ content }}
        
      </section>
      <footer>
        <p>
          <a href="#top">Back to top</a>
        </p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>