<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        
        <!-- Added by Josh -->
        <p>
            M.S. Computer Science<small>Georgia Institute of Technology - May 2026</small>
            B.S. Chemical Engineering<small>University of California, Los Angeles - Jun 2019</small>
        </p>

        {% if site.email %}
        <p>{{ site.email }}</p>
        {% endif %}

        {% if site.resume_url %}
        <p><a href="{{ site.resume_url }}" target="_blank">Resume<br><small>{{ site.resume_url | remove_first: 'https://' }}</small></a></p>
        {% endif %}
        
        {% if site.linkedin_url %}
        <p><a href="{{ site.linkedin_url }}" target="_blank">LinkedIn<br><small>{{ site.linkedin_url | remove_first: 'https://' }}</small></a></p>
        {% endif %}
        
        {% if site.github_url %}
        <p><a href="{{ site.github_url }}" target="_blank">GitHub<br><small>{{ site.github_url | remove_first: 'https://' }}</small></a></p>
        {% endif %}
        
        <!-- End added by Josh -->
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <!-- <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p> -->
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>